@import "custom";
@import "~bootstrap/scss/bootstrap";


body {
    background: #EEE9D2 !important;
    font-size: 10pt;
    color: #444;
    margin: 0;
    padding: 0;
}

.titre {
    background: #D0D5E4;
    font-size: 2em;
    font-weight: bold;
    vertical-align: center;
}

h3 {
    color: #7A4A4A;
    font-size:1.5em;
    font-weight:bold;
    margin:1em 0;
}
.page-help {
    background: #FFF;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 30px 50px;
}
.page-help h3 {
    border-bottom: 2px solid #7A4A4A;
    border-left: 2px solid #7A4A4A;
    padding: 0 0 5px 10px;
    font-variant: small-caps;
    color: #0088cc;
}

#page-help a {
    color: #0088cc;
    text-decoration: none;
}
.page-help h5 {
    /*background: #EEE;*/
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4cHgiIGhlaWdodD0iOHB4Ij4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KICAgIDwhW0NEQVRBWwogICAgICAgIHBhdGggewogICAgICAgICAgICBzdHJva2UtYW50aWFsaWFzaW5nOnRydWUKICAgICAgICAgICAgZmlsbDogbm9uZTsKICAgICAgICAgICAgc3Ryb2tlOiAjMDAwOwogICAgICAgICAgICBzdHJva2Utd2lkdGg6IDJweDsKICAgICAgICAgICAgb3BhY2l0eTogMC4xOwogICAgICAgIH0KICAgIF1dPgo8L3N0eWxlPgo8cGF0aCBkPSJNNCAwIDAgNCIvPgo8cGF0aCBkPSJNOCA0IDQgOCIvPgo8L3N2Zz4=");
    background-repeat: repeat;
    padding: 3px 0px 3px 25px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: grey;
}
.page-create {
    background: #d0d5e4;
}

h4 {
    margin:30px 0 1em 0;
    border-bottom: 2px solid #999;
    background :#eee;
    padding: 5px;
}

.control-panel {
    background: #eee;
    padding: 30px 50px;
}

.change-bhbsm {
    background: #ddd;
    padding: 1em;
    border: 1px solid #ccc;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    width: 506px;
}

#add-period {
    background: #ddd;
}

#total table td.spch.spch, option.spch {
    background-color: #FFE2F6;
}

#total table td.spch, #total table td.spvh {
    color: #333;
    text-align: right;
}
#total table td {
    width: 33%;
}
table.data td {
    background: #fff;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
#total table {
    width: 100%;
}
table.data {
    background: #ddd;
    width: 100%;
}

#total table td.spvh.spvh, option.spvh {
    background-color: #A0C4E8;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.ui-button-delete {
    background-image: url('img/ico_delete_16.png') !important;
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
}

.change-bhbsm {
    background: #ddd;
    padding: 1em;
    border: 1px solid #ccc;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    width: 506px;
}